body {
  margin:0;
  padding:0;
 
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #ffffff;
    overflow: hidden;
    background: #000000;
  }
  
  header {
   
    height: 2em;
    overflow: hidden;
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
  }
li span{
    color: red;
  }
  ul,
  li {
    height: 1em;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  
  li {
    list-style-type: none;
    margin: 0px 0 1px 0;
    height: 1em !important;
    padding: 0px 0 0px 0;
    font-size: 2em;
    text-transform: none;
    width: 100%;
    line-height: 2em;
  }
  
  .t {
    text-align: center;
    animation-name: scrollDown;
    animation: scrollDown 15s linear infinite;
  }
  section{
    height:150px;

  }
.video{

  height: auto;
  width:562px;
  position:relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-content: center;
  
}
.video:before, .video:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}
.bottom{
  height: 700px;
  
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.video:after {
  filter: blur(50px);
}
 
  @keyframes scrollDown {
    
    0% {
      transform: translateY(0px);
    }  
      
    50% {
      transform: translateY(-260px);
      }

    100% {
      transform: translateY(-590px);
    }
    }

    
    .intro{
      animation-name: intro;
      height: 8em;
      text-align: center;
      margin: 2em;
      text-transform: uppercase;
     
    }

    .intro h2{
      opacity: 0;
      z-index: 1;
            color:white;
      font-size: 4em;
      animation: intro 3s ease-out 15s infinite;
    }
    @keyframes intro {
      0% {opacity: 1;color: blue;}
      70% {opacity: 1; color:aqua;}
      100% {opacity: 0;}

    }

    .intro2 h2{
      opacity: 0;
      z-index: 1;
            color:white;
      font-size: 4em;
      animation: intro2 3s ease-out 4s infinite;
    }
    @keyframes intro2 {
      0% {opacity: 1;color: rgb(255, 0, 43);}
      70% {opacity: 1; color:rgb(255, 179, 0);}
      100% {opacity: 0;}

    }
    .reply1-text{
      
    
      animation-name: reply1-text;
    }
    .reply1,.reply2 {
     
    
  overflow: hidden;
      
    }

   .reply1-text, .reply2-text {
 display : flex;
 animation: reply1-text 20s linear infinite;

   }
   .item-1,.item-2{
     font-size: 2em;
     flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
      /* align-items: center;*/
    
    white-space: nowrap;
   
    }
 .reply2-text{
    animation: reply2-text 20s linear infinite;
    animation-delay: 10s;
    opacity: 0;
 
}

    @keyframes reply1-text { 
      0% {color: greenyellow;transform:translate3d(100%,0,0);}
      50%  {color: fuchsia;}
      100% {transform:translate3d(-500%,0,0);}
   }

   @keyframes reply2-text { 
    0% {opacity: 1; color:coral; transform:translate3d(100%,0,0);}
    50%  {color: greenyellow;}
    100% {opacity: 1; color:green; transform:translate3d(-500%,0,0);}
 }
 